<%- layout('layouts/main.ejs') %>

<h1 class="mt-4">Bienvenidos a mi Evidencia SENA.</h1>
<h1 class="mt-4">Te invitamos a que te registres si eres nuevo. Si por el contrario ya tienes credenciales Inicia Sesión.</h1>